body{
    font-size: 20px;
    display: grid;
    margin: 0 !important; 
    background-image: url('background.jpg');
    background-size: cover;
    background-position: top center;
    grid-template-columns: repeat(100, 1fr);
    grid-template-rows: repeat(100, 1fr);
    height: 100vh;
}
nav{
    grid-column: 1 / -1;
    grid-row: 1 / 10;
   
}
.nav{
    margin-top: 10px;
    float: left; 
    font-size: 1.2rem;
    width: 15%;
    text-align: center;
    background-color: burlywood;
}
#jpg
{
    top: 0;
    right: 2%;
    position: fixed;
}
footer
{
    bottom: 0;
    width: 100%;
    background-color: rgb(214, 89, 116);
    opacity: 0.9;
    color: rgb(0, 0, 0);
    position: fixed;
    font-size: 0.7rem;
    text-align: center;
}